<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibMan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBooks</display-name>
    <servlet-name>AddBooks</servlet-name>
    <servlet-class>LIb.AddBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBooks</servlet-name>
    <url-pattern>/AddBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>LIb.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log_in</display-name>
    <servlet-name>Log_in</servlet-name>
    <servlet-class>LIb.Log_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_in</servlet-name>
    <url-pattern>/Log_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_signUp</display-name>
    <servlet-name>Admin_signUp</servlet-name>
    <servlet-class>LIb.Admin_signUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_signUp</servlet-name>
    <url-pattern>/Admin_signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_LogIN</display-name>
    <servlet-name>Admin_LogIN</servlet-name>
    <servlet-class>LIb.Admin_LogIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_LogIN</servlet-name>
    <url-pattern>/Admin_LogIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove_books</display-name>
    <servlet-name>Remove_books</servlet-name>
    <servlet-class>LIb.Remove_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove_books</servlet-name>
    <url-pattern>/Remove_books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove_Books</display-name>
    <servlet-name>Remove_Books</servlet-name>
    <servlet-class>LIb.Remove_Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove_Books</servlet-name>
    <url-pattern>/Remove_Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Taken_Books</display-name>
    <servlet-name>Taken_Books</servlet-name>
    <servlet-class>LIb.Taken_Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Taken_Books</servlet-name>
    <url-pattern>/Taken_Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Taken</display-name>
    <servlet-name>Delete_Taken</servlet-name>
    <servlet-class>LIb.Delete_Taken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Taken</servlet-name>
    <url-pattern>/Delete_Taken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Books</display-name>
    <servlet-name>Search_Books</servlet-name>
    <servlet-class>LIb.Search_Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Books</servlet-name>
    <url-pattern>/Search_Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Book</display-name>
    <servlet-name>Search_Book</servlet-name>
    <servlet-class>LIb.Search_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Book</servlet-name>
    <url-pattern>/Search_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Taken_List</display-name>
    <servlet-name>Taken_List</servlet-name>
    <servlet-class>LIb.Taken_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Taken_List</servlet-name>
    <url-pattern>/Taken_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OverAllBooks</display-name>
    <servlet-name>OverAllBooks</servlet-name>
    <servlet-class>LIb.OverAllBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverAllBooks</servlet-name>
    <url-pattern>/OverAllBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrentAll</display-name>
    <servlet-name>CurrentAll</servlet-name>
    <servlet-class>LIb.CurrentAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentAll</servlet-name>
    <url-pattern>/CurrentAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllUsers</display-name>
    <servlet-name>AllUsers</servlet-name>
    <servlet-class>LIb.AllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUsers</servlet-name>
    <url-pattern>/AllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Take_Books</display-name>
    <servlet-name>Take_Books</servlet-name>
    <servlet-class>LIb.Take_Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Take_Books</servlet-name>
    <url-pattern>/Take_Books</url-pattern>
  </servlet-mapping>
</web-app>